<!DOCTYPE html>
<html>
  <head>
    <title>StarWars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <center> <div class="logo"><div class="title tc-yellow-400">STAR</div></center>
      <center><div class="subtitle"> ON RAILS </div></center>
      <center><div class="logo"><div class="title tc-yellow-400">WARS</divclass=></center>
      </p>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
  </body>
</html>
